/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* styling the body */

body {
  background: #0f172a;
  color: white;
}

/* header */

.header {
  padding: 20px 50px;
  background: #020617;
}

/* hero */

.hero {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 40px;
}

.cover {
  width: 200px;
  border-radius: 15px;
}

.info p {
  color: #94a3b8;
  margin: 10px 0;
}

.info button {
  padding: 10px 20px;
  background: #22c55e;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

/* episode */

.episode {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
  margin: 10px 0;
  transition: 0.3s;
}

.episode:hover {
  background: #334155;
}

/* PLAY BUTTON */

.episode button {
  padding: 8px 15px;
  background: #6366f1;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
