/* reset */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* center body */

body{
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: #0f172a;
    color: white;
}

/* wrapper width */

.warpper{
    width: 400px;
}

/* hide radio button */

.tabs input{
    display: none;
}

/* style the tab button */

.tabs label{
    display: inline-block;
    padding: 1rem 2rem;
    background: #1e293b;
    cursor: pointer;
    transition: 0.3s
}

/* hover animation */

.tabs label:hover{
    background: #334155;
    transform : translateY(-3px);
}

/* active tab style */

.tabs input:checked + label{
    background: #38bdf8;
    color: black;
}

/* hide all content */

.content{
    display: none;
    padding:1.5rem ;
    background: #1e293b;
    margin-top: 1rem;
    border-radius: 6px;
    
}

/* show correct content */

#tab1:checked ~ .content1,
#tab2:checked ~ .content2,
#tab3:checked ~ .content3{
    display: block;
}

