/* Reset */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial;
}

body{
    background: black;
    color: white;
}

/* header section */

.header{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    z-index: 10;
}

.logo{
    color: #e50914;
    font-size: 28px;
}

.btn{
    background: #e50914;
    color: white;
    border: none;
    padding: 8px 15px;
}

/* hero */

.hero{
    height: 90vh;
    background: url("https://via.placeholder.com/1600x800") center/cover no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}