/* reset */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* styling body */

body{
    background: #f1f5f9;
}

/* navbar */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1e293b;
    padding: 15px 30px;
    color:white
}

/* logo */

.logo{
    font-size: 24px;
}

/* link */

.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a{
    color: white;
    text-decoration: none;
}

/* hide checkbox */
#menu{
    display: none;
}

/* menu icon */

.menu-icon{
    display: none;
    font-size: 28px;
    cursor: pointer;
}

/* mobile design */

@media (max-width:768px) {
    .nav-links{
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: #1e293b;
        flex-direction: column;
        text-align: center;
        max-height: 0;
        overflow: hidden;
        transition: 0.4s;
    }

    /* when checkbox checked */

    #menu:checked ~ .nav-links{
        max-height: 300px;
    }

    .menu-icon{
        display: block;
    }
}