/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* body */

body {
  background: #fafafa;
  color: #111;
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  background: white;
  background: sticky;
  top: 0;
}

.navbar a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}

/* hero */

.hero {
  height: 90vh;
  background: url("Image/image1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

.hero-text {
  position: relative;
  z-index: 1;
}
