/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}

/* body */

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  color: #000;
  transition: 0.4s;
}

/* hide checkbox */

#toggle{
    display: none;
}

/* toggle switch */

.switch{
width:60px;
height:30px;
background:#ccc;
border-radius:30px;
position:relative;
cursor:pointer;
margin-bottom:20px;
}
