/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* body */

body {
  background: #f3f3f3;
}

/* main layout */

.container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
  padding: 20px;
}

/* image */

.image-section {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.image-section img {
  width: 100%;
  max-width: 350px;
}

/* details */

.details {
  background: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: fit-content;
}

.details h2 {
  font-size: 22px;
}

.rating {
  color: #f59e0b;
}

.price {
  font-size: 24px;
  color: #b12704;
  font-weight: bold;
}

.desc {
  color: #555;
  line-height: 1.5;
}

/* buy box */

.buy-box {
  background: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: fit-content;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.delivery {
  color: green;
  font-size: 14px;
}
