/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #000;
  color: white;
}

/* grid layout */

.app {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 1fr 180px;
  height: 100vh;
}

/* side bar */

.sidebar {
  grid-row: 1 / 2;
  background: #121212;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  margin: 15px 0;
  cursor: pointer;
  color: #b3b3b3;
}

.sidebar li:hover {
  color: white;
}

/* main content */

.main {
  background: #181818;
  padding: 20px;
  overflow-y: auto;
}

.main h2 {
  margin-bottom: 20px;
}

/* card grid */

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
}

.card {
  background: #242424;
  padding: 20px;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}
.card:hover {
  background: #333;
  transform: translateY(-5px);
}

/* player */

.player {
  grid-column: 1/3;
  background-color: #181818;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #333;
}
