/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #000;
  color: white;
}

/* grid layout */

.app {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 1fr 180px;
  height: 100vh;
}

/* side bar */

.sidebar {
  grid-row: 1 / 2;
  background: #121212;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  margin: 15px 0;
  cursor: pointer;
  color: #b3b3b3;
}

.sidebar li:hover {
  color: white;
}

/* main content */

.main {
  background: #181818;
  padding: 20px;
  overflow-y: auto;
}

.main h2 {
  margin-bottom: 20px;
}
