/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body */

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f1f5f9;
}

/* tooltip container */

.tooltip{
    position:relative;
    display: inline-block;
    cursor: pointer;
    background: #22c55e;
    padding: 10px 20px;
    border-radius: 5px;
}

/* tooltip text */

.tooltip .tooltiptext{
    /* visibility: hidden; */
    width:160px;
    background-color:#1e293b;
    color:#fff;
    text-align: center;
    padding:5px;
    border-radius: 5px;

    /* position above the element */

    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);

    /* fade in effect */

    opacity: 0;
    transition: opacity 0.3s;
}