/* reset */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Body setup */

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* gradient BAckground */
    background:linear-gradient(
        45deg,
        #ff006e,
        #8338ec,
        #3a86ff,
        #06d6a0

    ); 
    
    /* important for animation */
    background-size: 300% 300%;

    animation: gradientMove 8s ease infinite;
}

/* content */

.hero{
text-align:center;
}

.hero h1{
font-size:3rem;
margin-bottom:10px;
}

.hero p{
font-size:1.2rem;
opacity:0.8;
}

