/* reset */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #222;
    color: white;
    padding: 15px;
    position: sticky;
    top: 0;
}

header h1{
    margin-bottom:15px ;
}

ul{
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 15px auto;
}

main{
    margin: 30px;
}

p{
    margin: 15px auto;
}

footer{
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px;
    position: sticky;
    bottom: 0;
}