/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* styling the body  */

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0f172a;
    color: white;
}

/* centering the text */

.rating-wrapper{
    text-align: center;
}

/* rating */

.rating{
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    font-size: 40px;
    margin-top: 20px;
}

/* hiding the radio button  */

.rating input{
    display: none;
}

/* designing the label */

.rating label{
    color:#444;
    cursor: pointer;
    transition: 0.3s;
}

 /* hover the label   */ 

 /* very important */

.rating label:hover,
.rating label:hover ~label{
    color: gold;
    transform: scale(1.2);
}