/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* making gallery grid */

.gallery{
    display: grid;
    grid-template-columns: repeat(autofit,minmax(300px,1fr));
    gap: 30px;
}

/* card */

.card{
    position: relative;
    overflow: hidden;
}