/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #0f172a;
  color: white;
}

/* NavBar */

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  background: #0f172a;
  position: sticky;
  top: 0;
}

.navbar a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

/* hero */

.hero {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(135deg, #1e293b, #0f172a);
}
