/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body{
height:100vh;
background:#f1f5f9;
}

.toast{
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: #22c55e;
    padding: 15px 25px;
    border-radius: 10px;
    color: white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    animation: slidein 0.5s ease;
}

/* animation */

@keyframes slidein {
    0%{
        transform: translateX(100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
    
}
