/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #f3f3ef;
}

/* grid layout */

.container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 260px 1fr 260px;
  gap: 20px;
  padding: 20px;
}

/* common card style */

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
  margin-bottom: 15px;
}

/* left  */
.left{
    display: flex;
    flex-direction: column;
}

/* Main */

.main{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Profile card */

.profile-card{
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow:0 2px 5px rgba(0,0,0,0.08);
}


