/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* center the content */

body{
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: #0f172a;
    color: white;
}

/* wrapper */

.wrapper{
    width: 300px;
}

/* hide the original chekbox and radiobox */

.custom-checkbox input,.custom-radio input{
    display: none;
}

/* create fake checkbox */

.checkmark{
    width: 20px;
    height: 20px;
    border: 2px solid blue;
    display: inline-block;
    margin-right: 8px;
}

/* create fake radio circle */

.radiomark{
  width:20px;
  height:20px;
  border:2px solid pink;
  border-radius:50%;
  display:inline-block;
  margin-right:8px;
}

