/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background: #f5f5f7;
  color: #111;
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

/* header logo */

.header .logo {
  font-size: 28px;
  font-weight: bold;
}

/* header nav anchor tag */

.header .nav a {
  text-decoration: none;
  color: #111;
  margin: 0 12px;
  transition: color 0.3s;
}

.header .nav a:hover {
  color: #22c55e;
}

/* hero section */

.hero {
  height: 80vh;
  background: #e5e5e7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #111;
  gap: 15px;
}

.hero h1 {
  font-size: 48px;
}

.hero p {
  font-size: 24px;
}

.hero button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: #22c55e;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.hero button:hover {
  background: #16a34a;
}

/* Products Card */

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 50px;
}

.card{
    background: white;
    border-radius: 15px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card h2{
    margin-bottom: 10px;
    font-size: 22px;
}

.card p{
    margin-bottom: 20px;
    color: #555;
}
.card button{
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background: #22c55e;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.card button:hover{
background:#16a34a;
}