/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}

/* styling the body */

body {
  background-color: #f1f5f9;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* alert box */

.alert {
  padding: 15px 20px;
  border-radius: 5px;
  color: white;
  width: 300px;
  font-size: 16px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  opacity: 0.95;
}

/* success */

.alert.success {
  background: #22c55e;
}

/* error */

.alert.error {
  background: #ef4444;
}

/* warning */

.alert.warning {
  background: #facc15;
  color: #333;
}

/* info */

.alert.info {
  background: #3b82f6;
}
