/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* body */

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #1e293b, #020617);
}

/* player card */

.player {
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  padding: 25px;
  border-radius: 20px;
  text-align: center;
  color: white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

/* COVER */

.cover {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 15px;
}

/* TEXT */

.player h2 {
  margin-bottom: 5px;
}

.player p {
  color: #cbd5f5;
  margin-bottom: 20px;
}
