/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #f4f4f4;
}

.page{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-card{
    background-color: white;
    width: 280px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    
}

.avatar{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #ddd;
    margin: 0 auto 15px;
}

.profile-card h2{
    margin-bottom: 10px;
}

.profile-card p{
    margin-bottom: 10px;
}

.action{
    display: flex;
    gap: 10px;
}

.action button{
    flex: 1;
    background-color: #666;
    color: white;
    padding: 10px;
    border-style: none;
    cursor: pointer;
}

