*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.accordion input{
    display:none;
}

/* making the title look clickable */

.accordion label{
    display:block;
    padding:1rem;
    background:#334155;
    color:#ffffff;
    cursor:pointer;
    padding:  1rem;
}

/* hide the content */

.content{
    max-height: 0;
    overflow: hidden;
    /* added smooth animation */
    transition: max-height 0.3s ease;
    background:#1e293b;
    color: #ffff;
    
}

/* open the content when checked */

.accordion input:checked ~ .content{
    max-height: 200px;
    padding: 1rem;
}

/* Added arrow icon */

.accordion label::after{
    content:"▶";
    float: right;
    transition: transform 0.3s;
}

.accordion input:checked + label::after{
    transform: rotate(90deg);
}



