/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* styling the body */

body{
    min-height: 100vh;
    display: grid;
    place-content: center;
    background: #0f172a;
    color: white;
}

/* wrapper */

.wrapper{
    width: 350px;
}

/* Accordion box */

.accordion{
    background: #1e293b;
    border-radius: 8px;
    overflow: hidden;
}

/* hide checkbox */

.item input{
    display: none;
}
