/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* styling the body */

body{
    min-height: 100vh;
    display: grid;
    place-content: center;
    background: #0f172a;
    color: white;
}

/* wrapper */

.wrapper{
    width: 350px;
}

/* Accordion box */

.accordion{
    background: #1e293b;
    border-radius: 8px;
    overflow: hidden;
}

/* hide checkbox */

.item input{
    display: none;
}

/* label */

.item label{
    display: block;
    padding: 1rem;
    cursor: pointer;
    background: #334155;
    position: relative;
    transition: background 0.3s;
}

/* hover the label */

.item label:hover{
    background: #475569;
}

/* arrow */

.item label::after{
    content: "▶";
    position: absolute;
    right: 15px;
    transition: transform 0.3s;
}

/* transform arrow */

.item input:checked ~ label::after{
    transform: rotate(90deg);
}
